* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: black;
  /* it changes dinamically thx to background.js */
  background-image: url("");

  height: 100%;
  width: 100%;
}

canvas {
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
